---
pagination:
  data: tools.pages.indexByOrganisation
  size: 1
  alias: listing
permalink: "{{ listing.permalink }}index.html"
layout: layouts/base.njk
title: Browse by organisation
eleventyComputed:
  pagePath: "{{ listing.permalink }}"
  breadcrumbs:
    - text: Home
      href: /
    - text: Browse by organisation
      href: /browse/by-organisation/
---

<h1 class="govuk-heading-xl">Browse by organisation</h1>
<p class="govuk-body app-muted">Organisations are listed exactly as they appear in the CSV (no normalisation).</p>

{% include "partials/browse-tabs.njk" %}

<ul class="govuk-list">
  {% for o in listing.entries %}
    <li>
      <a class="govuk-link" href="/browse/by-organisation/{{ o.slug }}/">{{ o.name }}</a>
      <span class="app-list-count">({{ o.tools | length }})</span>
    </li>
  {% endfor %}
</ul>

{% set pager = { pageNumber: listing.pageNumber, totalPages: listing.totalPages, basePermalink: "/browse/by-organisation/" } %}
{% include "partials/pager.njk" %}

