---
pagination:
  data: tools.pages.indexByOrigin
  size: 1
  alias: listing
permalink: "{{ listing.permalink }}index.html"
layout: layouts/base.njk
title: Browse by origin
eleventyComputed:
  pagePath: "{{ listing.permalink }}"
  breadcrumbs:
    - text: Home
      href: /
    - text: Browse by origin
      href: /browse/by-origin/
---

<h1 class="govuk-heading-xl">Browse by origin</h1>

{% include "partials/browse-tabs.njk" %}

{% set facetEntries = listing.entries %}
{% set facetBasePath = "/browse/by-origin/" %}
{% set facetLabelColumn = "Origin" %}
{% include "partials/facet-index-table.njk" %}

{% set pager = { pageNumber: listing.pageNumber, totalPages: listing.totalPages, basePermalink: "/browse/by-origin/" } %}
{% include "partials/pager.njk" %}

