---
layout: layouts/base.njk
title: About
pagePath: /about/
breadcrumbs:
  - text: Home
    href: /
  - text: About
    href: /about/
---

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-xl">About this catalogue</h1>

<p >This site provides a browseable catalogue of AI tools being used in the public sector.<p>
  
<p>It was built by me, <a href="https://www.peterkappus.com/?utm_source=aitools" class="govuk-link">Peter Kappus</a>, independently of the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service (GDS)</a> but using data scraped from the public internet and provided in their experimental <a href="https://cddo-af.data.gov.uk/other/public_access/ai_tools_catalogue/AI-tools-catalogue-pilot.html" target="_blank" class="govuk-link">AI Tools Knowledge Graph</a>.</p>

<p>It also uses the <a href="https://design-system.service.gov.uk/" class="govuk-link" target="_blank">GOV.UK Design System</a>, the <a href="https://www.11ty.dev/">11ty</a> static site generator, and a little help from <a href="https://cursor.com/">Cursor</a>.</p>

<p>It's all hosted on my personal <a href="https://aws.amazon.com/amplify/">AWS Amplify</a> instance and the code will <i>soon</i> be available on Github.

<h2 class="govuk-heading-m" id="disclaimer">DISCLAIMER</h2>

<p>This site was developed independently and is not in any way affiliated with or endorsed by GDS, DSIT, or any other government entity.</p>


<p>This site is provided AS-IS with no warranty or guarantee of any kind. Data may not be 100% accurate and should always be verified by visiting the source URL for any tool.</p>

<p>In no event shall Peter Kappus, PNK Industries Limited, GDS, or anyone else be held responsible for any losses suffered as a result of using this site. You agree to use this site and data at your own risk. 😀</p>


<H2 class="govuk-heading-m" id="cookies">Cookies</h2>
<p >This site uses <a href="https://developers.google.com/analytics">Google Analytics (GA)</a> to help me measure traffic and understand how I can improve it. GA uses <a href="https://support.google.com/analytics/answer/11397207?hl=en">these cookies</a> to function.</p>

<h2 class="govuk-heading-m">Accessibility</h2>
<p >This service is designed to meet WCAG 2.2 AA.</p>

<h2 class="govuk-heading-m">Feedback welcome!</h2>
<p >Please direct all queries to me, <a href="https://www.peterkappus.com/contact">Peter Kappus</a>.</p>

<!--
<h2 class="govuk-heading-m">Data source</h2>
{% if tools.meta.source == "remote" %}
  <p >This site was built using a CSV loaded from a remote URL.</p>
  <p ><a class="govuk-link" href="{{ tools.meta.csvUrl }}">{{ tools.meta.csvUrl }}</a></p>
{% else %}
  <p >This site was built using the CSV stored in this repository. You can specify a remote CSV file at build time using an environment variable. Check the README for details.</p>
{% endif %}
-->


</div>
</div>